/*
 * This file is part of the Form-filler package.
 *
 * (c) Lukas Hron <info@lukashron.cz>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

#form-filler-panel {
    position: fixed;
    right: 0;
    top: 50%;
    z-index: 99999;
}

#form-filler-panel button {
    display: block;
    color: #fff;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: #0d6efd;
    border: 1px solid #0d6efd;
    width: 24px;
    margin: .1rem;
    font-size: 1rem;
    border-radius: .25rem;
    cursor: pointer;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#form-filler-panel button:hover {
    background-color: #023786;
}

#form-filler-panel .form-filler-disabled {
    background-color: #a09f9f !important;
    cursor: no-drop;
}